@import "base";
@import "reset";
@import "classes";
@import "function";
@import "utile";
@import "animation";
@import "media-queries";
.grid-container {
  display: grid;
  grid:
    "picture header" 250px
    "aside main" 1fr
    "footer footer"
    / 350px auto;
  // min-height: 100vh;
  @include xs {
    grid:
      " header" auto
      "main" auto
      "picture" auto
      "aside" auto
      "footer " auto/auto;
  }
}
header {
  grid-area: header;
  background: linear-gradient(to right, var(--primary), var(--light));
  padding: 8rem 5rem;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include xs {
    padding: 5rem 2rem;
  }
  h1 {
    font-size: 5rem;
    line-height: 4rem;
    font-weight: 300;
    letter-spacing: 2rem;
    @include xs {
      font-size: 4rem;
    }
    span {
      display: inline-block;
      animation: bounce 2s;
    }
  }
  p {
    letter-spacing: 0.5rem;
    font-size: 2rem;
  }
}
.picture {
  grid-area: picture;
  padding: 1rem 4rem;
  background-color: var(--background);
  border-right: 1px solid #ddd;
  display: grid;
  justify-items: center;
  align-items: center;
  @include xs {
    padding: 0rem 4rem;
    margin: 0;
  }

  img {
    border-radius: 50%;
    @include xs {
      border: 1px solid #eee;
      max-width: 30%;
    }
  }
}
aside {
  grid-area: aside;
  background: var(--background);
  border-right: 1px solid #ddd;
  padding: 5rem;
  // min-height: 1500px;
  @include xs {
    padding: 2rem;
  }
  .bloc {
    margin-bottom: 5rem;
    h3 {
      margin-bottom: 0;
      font-size: 1.4rem;
    }
    p {
      margin: 0 0 2rem 0;
    }
    .bar-skill {
      margin: 2rem 0;
      height: 5px;
      background: var(--hint);
      position: relative;
      .bar-skill-content {
        position: absolute;
        height: 5px;
        top: 0;

        background: var(--primary);
      }
      .bar-skill-dot {
        position: absolute;
        height: 10px;
        width: 10px;
        background: var(--dark);

        top: -2.5px;
        transform: rotate(45deg);
      }
      .p1 {
        width: 70%;
      }
      .d1 {
        left: skills(70%);
      }
      .p2 {
        width: 50%;
      }
      .d2 {
        left: skills(50%);
      }
    }
    .star-container {
      display: flex;
      margin: 1rem 0 1rem 0;

      i {
        font-size: 1.5rem;
        margin: 0 1rem;
      }
    }
    .social-container {
      display: flex;
      justify-content: start;
      align-items: center;
      padding: 1rem 1rem;
      border-radius: 5px;
      transition: all 0.2s;
      &:hover {
        background: var(--border);
        cursor: pointer;
        i {
          color: var(--primary);
          transform: scale(1.3);
          transition: 0.2s;
        }
      }
      i {
        flex: 0 0 50px;
        font-size: 2rem;
        margin-right: 1rem;
      }
      a {
        flex: auto;
        margin: 0;
      }
    }
  }
}
main {
  grid-area: main;
  padding: 5rem;
  @include xs {
    padding: 2rem 1.5rem;
  }
  h2 {
    margin-bottom: 2rem;
    @include xs {
      letter-spacing: 0.2rem;
      text-align: center;
      margin-bottom: 3rem;
    }
  }
  p {
    letter-spacing: 0.2rem;
    line-height: 3rem;
    @include xs {
      letter-spacing: 0.1rem;
    }
  }
  .experience {
    display: flex;
    margin: 2rem;
    @include xs {
      margin: 0.5rem;
    }
    .timeline {
      width: 67px;
      text-align: center;
      color: var(--hint);
      padding-right: 2rem;
      border-right: 1px solid var(--border);
      @include xs {
        width: 50px;
      }
      p {
        margin: 0;
      }
    }
    .content {
      padding: 0 1rem;
      h3 {
        margin: 0;
      }
      p {
        margin: 0;
      }
      ul {
        margin: 2rem 0;
        list-style: circle;
        padding-left: 4rem;
        @include xs {
        }
        li {
          padding-bottom: 0.5rem;
        }
      }
      .pl-2 {
        padding-left: 2rem;
        list-style: square;
      }
      span {
        font-weight: 700;
      }
    }
  }
}
footer {
  grid-area: footer;
  padding: 5rem;
  background: var(--text);
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
  @include xs {
    padding: 1.5rem;
  }
  h2 {
    margin-bottom: 3rem;
    color: white;
    span {
      font-size: 2.5rem;
      display: inline-block;
      animation: wheelHueColor 4s infinite;
      @keyframes wheelHueColor {
        from,
        to {
          color: white;
        }

        50% {
          color: hsl(216, 60%, 45%);
        }

        90% {
          color: white;
        }
      }
    }
    @include xs {
      margin: 0.5rem 0;
    }
  }
  div {
    a {
      i {
        color: white;
        font-size: 4rem;
      }
    }
  }
  form {
    display: flex;
    align-items: center;
    .prefix {
      background: linear-gradient(to right, var(--dark), var(--light));
      padding: 1rem 2rem;
      color: white;
      font-size: 2rem;
      border-top-left-radius: 20%;
      border-bottom-left-radius: 20%;
    }

    button {
      cursor: pointer;
      transition: all 0.2s;
    }
    button:hover {
      opacity: 0.8;
    }

    .postfix {
      background: var(--text);
      border: 0;
      background: linear-gradient(to right, var(--dark), var(--light));
      padding: 1rem 2rem;
      color: white;
      font-size: 1.7rem;
      border-top-right-radius: 20%;
      border-bottom-right-radius: 20%;
    }
    i {
    }
    input {
      outline: 0;
      min-width: 400px;
      padding: 1rem 2rem;
      border: 0;
      border-radius: 0;
      line-height: 2rem;
      @include xs {
        min-width: 200px;
      }
      &::placeholder {
        color: var(--text);
      }
    }
  }
}
